.container {
    margin-top: 10vh;
    min-height: 15vh;
    height: 30vh;
    overflow-y: scroll;
    background-color: red;
    color: black;
    border-radius: 10px;
}

button {
    min-width: 100px;
    border-radius: 10px;
}

button.like {
    background-color: lightgreen;
}