div.container {
    background-color: white;
    color: black;
}

button {
    min-width: 100px;
    border-radius: 10px;
}

button.like {
    background-color: lightgreen;
}

button.dislike {
    background-color: lightcoral;
}