.container {
    margin-top: 5vh;
    min-height: 15vh;
    height: 30vh;
    background-color: green;
    color: black;
    border-radius: 10px;
    overflow-y: scroll;
}

button {
    min-width: 100px;
    border-radius: 10px;
}

button.dislike {
    background-color: lightcoral;
}